# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.metadata
*.har

android/build
android/build/reports
android/build/reports/problems
android/build/reports/problems/problems-report.html
changelog.md

*.salive

.kotlin
telemetry_service/.lock
telemetry_service/bin
telemetry_service/include
telemetry_service/lib*
telemetry_service/.env
telemetry_service/var
telemetry_service/CACHEDIR.TAG

basalt.json